body{
    height: 90vh;
    background: #555555;
    font-size: 15px;
    display: flex;

}

.container{
    width: auto;
    height: auto;
    
    border : solid 5px black;
    margin: auto;
    padding : 30px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;

    background-color : white;
    display : flex;

    
    justify-content: center;
    align-items : center;
}

.container button{
    margin : 20px 0px 0px 0px;
    width: 100px;

    align-self: end;
}
.container .box{
    display: flex;
    flex-direction : row;
}
.container .size{
    display: flex;
    flex-direction : row;
    
}

.container .size div {
    margin:20px;
    
}

.container .size div input{
    width : 50px;
    
}

.op{
    display: flex;
    align-items: center;
}

.container .matrix-box{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border: 1px solid black;

    padding : 10px;
    margin: 0 30px;
}

.container .matrix-box input{
    width : 30px;
    height : 15px;
}

.container .size input{
    margin : 20px 0;
    width: 140px;
}

.footer{
    display: flex;
    flex-direction : row;
    margin : 10px 10px;
}

.footer .calc{
    margin-left: 100px;
    
}

.footer .alert{
   height: 10px;
   width: 200px;
   text-align: center;
   color: red;
    
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}





